.DS_Store
**/.DS_Store

.idea/
portfolio/.vscode/
portfolio/.kiro/

portfolio/frontend_react/node_modules/
portfolio/frontend_react/build/
portfolio/backend-telegram/node_modules/

*.log

.env
*.env
*.env.*
!.env.example
